@import url('https://fonts.googleapis.com/css?family=Roboto');
#percent, #svg {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
}
#svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

#percent {
  line-height: 20px;
  height: 20px;
  width: 100%;
  font-size: 43px;
  text-align: center;
  position: absolute;
  top:90px;
  left:0px;
  color: #3da08d;
  opacity: 0.8;
}

p {
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  top: 30px;
}

.btn {
  background: #5fc2af;
  color: #fff;
  width: auto;
}

input {
  text-align: center;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #eee;
  font-family: helvetica;
  font-size: 24px;
  text-transform: capitalise;
  font-family: 'Share Tech', sans-serif;
  background: transparent;

}
